*.pyc
index.txt
tmp/
.DS_Store
build/
bin/
dist/
__pycache__/
*.xlsx
.pytest_cache/
*.csv
*.docx
*.eml
*.png
.vscode/settings.json
token.pickle
.tox/
venv/
.mypy_cache/
.coverage
.idea/
coverage.xml
test_tox.egg-info/
Pipfile*
