*.pyc
index.txt
*.swo
*.swp
*duo.pyc
tmp/
.DS_Store
build/
bin/
dist/
__pycache__/
*.xlsx
.pytest_cache/
*.csv
index.txt
*.docx
*.png
token.pickle
.tox/
venv/
.mypy_cache/
.coverage
.idea/
coverage.xml
test_tox.egg-info/
Pipfile*
